body{
background-color: steelblue;
}

.colum-sm{
    width:25%;
    float: left;
}
.colum-md{
    width:50%;
    float: left;
}
.colum-lg{

    float:left;
    height:100%;
    width:100%;
}.large{
     min-height: 100%;
     min-width: 100%;
     width: 20%;
     height: auto;


     top: 0;
     left: 0;
 }
@media screen and (max-width: 1024px) { /* Specific to this particular image */
    img.large {
        left: 50%;
        margin-left: -512px;   /* 50% */
    }
}

.selected{
border: springgreen thick solid;
    background:url(http://chronos.johandamm.com/images/background-image-overlay.png) repeat;

}

.added{
    background:url(http://chronos.johandamm.com/images/background-image-overlay.png) repeat;
    z-index: 9999;
}
.hidden{
    display:none;
}